* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.main {
    max-width: 600px;
    height: 100vh;
    margin: auto;
    justify-content: space-between;
}

.componentBody {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.d-f-col {
    display: flex;
    flex-direction: column;
}


.d-f-col-a-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-f-row-a-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.d-f-r-j-between {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

@import "../Component/WeatherResult/weatherResult.scss";
@import "../Component/SearchLocation/searchLocation.scss";
@import "../Component/Header/header.scss";
@import "../Component/UserLocationWeather/userLocationWeather.scss";
@import "../Component/Footer/footer.scss";