* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
    outline: inherit;
}

body {
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 600px;

    margin: auto;
    justify-content: space-between;
}

.componentBody {

    flex: 1;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.d-f-col {
    display: flex;
    flex-direction: column;
}


.d-f-col-a-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-f-row-a-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.d-f-row-j-between {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.d-f-col-a_center-j_center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

@import "../Component/WeatherResult/weatherResult.scss";
@import "../Component/SearchLocation/searchLocation.scss";
@import "../Component/Header/header.scss";
@import "../Component/UserLocationWeather/userLocationWeather.scss";
@import "../Component/Footer/footer.scss";