.header {
    width: 85%;
    margin: 30px 0 5px;
    align-items: center;

    .logo {
        & img {
            width: 4rem;
        }
    }

    .hamburger {
        padding: 0px !important;
    }
}