.resultBody {
    width: 100%;

}

.card {
    flex: 2;
    border: none !important;
    --bs-card-bg: transparent !important;
    border-radius: 35px !important;
    position: relative;

    .card-body {
        padding: 0;
        position: relative;

        .favOrNotFav {
            position: absolute;
            right: 0;
            top: 0;
            background: none;
            border: none;
            color: inherit;
            font: inherit;
            cursor: pointer;
            padding: 0;
            outline: inherit;
            width: 40px;
        }

        .weatherData {

            .mainData {
                margin-top: 20px;
            }

            .card-title {
                font-size: 7rem;
                margin-left: 45px;
            }
        }
    }
}