.card {
    border: none !important;
    --bs-card-bg: transparent !important;
    border-radius: 35px !important;
    margin-top: 15%;

    .card-body {
        padding: 0;

        .weatherData {

            .mainData {
                margin-top: 20px;
            }


            .card-title {
                font-size: 7rem;
                margin-left: 45px;

            }

        }



    }
}