.locationNotFound {
    width: 85%;
    margin: 4rem auto;
}

.weatherBackgroundImg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

    & .weatherImg {
        width: 100%;
        height: 100%;
        opacity: 0.6;
        object-fit: cover;
    }

}